.speech{
     font-size: large;
     color: black;
}
.direction{
     font-size: medium;
     color: black;
     background-color: beige;
     
}
.direction:hover{
    color: black;
    background-color: aquamarine;
}
.KROGSTAD{
    color: blueviolet;
    
    
}
.KROGSTAD:hover{
    color: cadetblue;
    background-color: chocolate;
    text-shadow: 2px 3px 5px darkgreen;
    border: 1px  solid;
}
.MRS_LINDE{
  color: chartreuse;
  
  
}
.MRS_LINDE:hover{
    color: darkcyan;
    background-color: darkturquoise;
    text-shadow: 3px 4px 5px darkorchid;
    border: 1px  solid;
}
table, th, td{
    border: 1px solid;
    color: crimson;
    text-align: center;
    padding: 1cqmax;
    margin: 1pc;
}
    tr:nth-child(even){
        background-color: blueviolet;
    }
    li {
        display: inline;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #04AA6D;
      }
